:root{
  font-family: Garamond serif;
}

header, footer{
  background-color: cornflowerblue;
  color: whitesmoke;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: whitesmoke
}
img{
  width: 30vh;
  height: 30vh;
}
nav ul{
  display: flex;
  justify-content: space-evenly;
}
footer{
  position: sticky;
  bottom: 0px;
  display: flex;
  justify-content: space-evenly;
}
header{
  position: sticky;
  top: 0px;
}
.main{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 30px;
}
.main div{
  border: 1px dotted #edbb63;
  border-radius: 25%;
  padding: 30px;
}
.carrito{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 30px;
}
.carrito li{
  border: 1px solid #edbb63;
  border-radius: 25%;
  padding: 30px;
}
.total{
  text-align: center;
  border-radius: 25%;
  background-color: #edbb63;
}